<div class="form-container" >
    <h1>Bejelentkezés</h1>
    <div class="alert alert-danger d-none" role="alert" id="alertBox">
        <!-- alertmessages shows here -->
    </div>
   
    <div class="mb-3">
        <input type="text" class="form-control" id="name" placeholder="Felhasználónév">
    </div>
   
    <div class="mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Jelszó">
    </div>
   
    <div class="mb-3 regBtnLine">
        <label>Még nincs fiókod? <a href="#!/register">Regisztráció</a></label>
        <button class="btn btn-primary mb-3" ng-controller="userCtrl" ng-click="login()" >Bejelentkezés</button>
    </div>
</div>
</main>