<div class="p-3">
    <h3>My profile</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">E-mail address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="role" placeholder="Role" disabled>
        <label for="role">Role</label>
    </div>
    <button class="btn btn-warning mb-3" onclick="updateProfile()">Update</button>
</div>