<div class="form-container" >
    <h1>Regisztráció</h1>
    <div class="alert alert-danger d-none" role="alert" id="alertBox">
        <!-- alertmessages shows here -->
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="name" placeholder="Felhasználónév" ng-model="user.name">
    </div>
   
    <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="E-mail cím" ng-model="user.email">
    </div>
   
    <div class="mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Jelszó" ng-model="user.passwd">
    </div>
   
    <div class="mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Jelszó megerősítése" ng-model="user.confirm">
    </div>
 
    <div class="mb-3 regBtnLine">
        <label>Már van fiókod? <a href="#!/login">Bejelentkezés</a></label>
        <button class="btn btn-primary mb-3" ng-controller="userCtrl" ng-click="register()">Regisztráció</button>
    </div>
</div>
</main>