<div class="keret">

    <div>
        <h1 id="title"></h1>
        <p id="category"><strong>Kategória: </strong> ${recipe.catID === 1 ? 'Leves' : recipe.catID === 2 ? 'Főétel' : 'Köret'}</p>
        <p id="description"><strong>Leírás: </strong></p>
        <p id="time"><strong>Elkészítési idő: </strong> perc</p>
        <p id="additions"><strong>Hozzávalók: </strong></p>
        <p id="calory"><strong>Kalória:</strong> kcal</p>
        <button id="goBack">Vissza a receptekhez</button>
    </div>     
 
      
</div>