*{
    padding: 0;
    margin: 0;
}
 
html, body {
    height: 100%; /* Az oldal és a body teljes magassága */
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    background-color: rgb(255, 255, 255);
    
    color: rgb(0, 0, 0);
  
}
 
.navbar {
    background-color: #ffffff !important;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1), inset 4px -1px 4px rgba(0, 0, 0, 0.1); /* Belső árnyék */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    width: 100%;
}

main {
    flex: 1; /* A main tartalom kitölti a maradék helyet */
}
 
.navbar-nav{
    margin-left: auto;
}
.card .heading div {
    margin-bottom: 5px; /* Különbség a sorok között */
}

.card .heading strong {
    color: #183D3D; /* Címkék színe */
}

.nav-item{
    padding: 2.5px;
    margin: 2.5px;
    border-radius:  10px 10px 10px 10px;
    background-color: #ffffff;
    color: rgb(255, 255, 255) !important;
    transition: transform 0.3s ease;
}

.nav-item:hover {
    background-color: #c2c2c2; /* Sötétebb zöld hover állapotban */
    border-color: #c2c2c2; 
    transform: scale(0.98);
}

.nav-item:active {
    background-color: #395248 !important; /* Sötétebb zöld hover állapotban */
    border-color: #395248 !important; 
    transform: scale(0.95); /* Kisebb méret kattintás alatt */
}
 
@media only screen and (max-width: 991px) {
    a{
        margin-right: 2%;
    }
    .nav-item{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        margin-left: auto;
    }
 
    .dropdown-menu{
        text-align: center;
        background-color: rgba(119, 126, 120, 0.5);
    }
  }
 
a{
    color: white ;
    font-weight: bolder !important;
}
 
 
 
.dropdown-menu{
    background-color: rgba(119, 126, 120, 0.5);
    border-radius: 0px 0px 10px 10px;
}
 
.dropdown-item:hover{
    color: black !important;
}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60%;
    min-width: 140px;
    min-height: calc(100vh - 210px);
}
 
.regBtnLine{
    display: flex;
    justify-content: space-between;
}
 

 
.regBtnLine button{
    background-color: #777E78;
    color: white;
}
 
@media screen and (max-width: 480px) {
    .regBtnLine{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .regBtnLine button{
        margin-top: 10px;
    }
}

footer {
    border-radius: 1rem;
    color: #777E78;
    background-color: #D9D9D9;
    text-align: center;
    padding: 25px;
    margin: 10px 0px;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
    position: relative; /* Sticky helyett relative */
    bottom: 0; /* A lábléc az oldal aljára kerül */
    width: 100%; /* Kitölti a teljes szélességet */
}


.hero {
    position: relative;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/Assets/img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    zoom: -5%;
    overflow: hidden; /* Az overflow elrejtése a blur miatt */
}
.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px; /* Magasság, ahogy elmosódik */
    background: rgb(255, 255, 255); /* Sötétebb háttér */
    filter: blur(15px); /* Elmosódás mértéke */
    pointer-events: none; /* Kattintások figyelmen kívül hagyása */
    transform: translateY(50%); /* Az elmosódás felfelé tolása */
    width: 200%; /* Az elmosódott háttér szélessége */
    left: 50%; /* A pozicionálás középre állítása */
    margin-left: -65vw; /* A bal margó a középre állításhoz */
}

.btn{
    background-color: #183D3D; 
    border-color: #183D3D; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.3);
}
      .btn:hover {
        background-color: rgb(4, 22, 11); /* Sötétebb zöld hover állapotban */
        border-color: rgb(4, 22, 11); 
    }

    .btn:active {
        background-color: rgb(4, 22, 11) !important; /* Sötétebb zöld hover állapotban */
        border-color: rgb(4, 22, 11) !important; 
        transform: scale(0.95); /* Kisebb méret kattintás alatt */
    }


.hero .content {
        position: absolute;
        
         
      }

     
  .herotext {
    margin-left: 50%;
  }
  
.hero h1 {
        font-size: 4rem;
        font-weight: bold;
      }
  
.hero p {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
  
.hero .btn {
        font-size: 1.25rem;
      }

      .d-none{
        display: none;
    } 


    .card {
        width: 50%;
        background: white;
        padding: .4em;
        border-radius: 6px;
        margin: auto;
        margin-top: 2%;
        transition: transform 0.3s ease;
      }
      
      .card-image {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 20vh;
        border-radius: 6px 6px 0 0;
      }
      
      .card:hover {
        transform: scale(0.98);
      }
      
      .category {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 600;
        color: #56806f;
        padding: 10px 7px 0;
      }
      
      .category:hover {
        cursor: pointer;
      }
      
      .heading {
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
      }
      
      .heading:hover {
        cursor: pointer;
      }
      
      .author {
        color: gray;
        font-weight: 600;
        font-size: 15px;
        padding-top: 20px;
      }
      
      .name {
        font-weight: 600;
      }
      
      .name:hover {
        cursor: pointer;
      }

      