*{
    padding: 0;
    margin: 0;
}
 
body{
    background-color: rgb(24, 61, 61);
    
    color: white;
  
}
 
.navbar{
    
    background-color: #00000000 !important;
    /* box-shadow: rgb(100, 100, 100) 5px 0px 10px; */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    width: 100%;
}


 
.navbar-nav{
    margin-left: auto;
}
 
.nav-item{
    padding: 2.5px;
    margin: 2.5px;
    border-radius:  10px 10px 10px 10px;
    background-color: #ffffff;
    color: black !important;
}

.nav-item:hover {
    background-color: #395248; /* Sötétebb zöld hover állapotban */
    border-color: #395248; 
}

.nav-item:active {
    background-color: #395248 !important; /* Sötétebb zöld hover állapotban */
    border-color: #395248 !important; 
    transform: scale(0.95); /* Kisebb méret kattintás alatt */
}
 
@media only screen and (max-width: 991px) {
    a{
        margin-right: 2%;
    }
    .nav-item{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        margin-left: auto;
    }
 
    .dropdown-menu{
        text-align: center;
        background-color: rgba(119, 126, 120, 0.5);
    }
  }
 
a{
    color: white ;
    font-weight: bolder !important;
}
 
 
 
.dropdown-menu{
    background-color: rgba(119, 126, 120, 0.5);
    border-radius: 0px 0px 10px 10px;
}
 
.dropdown-item:hover{
    color: black !important;
}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60%;
    min-width: 140px;
    min-height: calc(100vh - 210px);
}
 
.regBtnLine{
    display: flex;
    justify-content: space-between;
}
 
.regBtnLine label a{
    color: #88AB8E !important;
}
 
.regBtnLine button{
    background-color: #777E78;
    color: white;
}
 
@media screen and (max-width: 480px) {
    .regBtnLine{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .regBtnLine button{
        margin-top: 10px;
    }
}


footer{
    border-radius:  1rem;
    color: #777E78;
    background-color: #D9D9D9;
    text-align: center;
    padding: 25px;
    margin: 10px 0px;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
}


 .hero {
        position: relative;
        background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(
'/Assets/img/hero.jpg');
        background-size:cover;
        background-position:center;
        height: 55vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        zoom: -5%;
      }
  
.btn{
    background-color: #183D3D; 
    border-color: #183D3D; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.3);
}
      .btn:hover {
        background-color: rgb(4, 22, 11); /* Sötétebb zöld hover állapotban */
        border-color: rgb(4, 22, 11); 
    }

    .btn:active {
        background-color: rgb(4, 22, 11) !important; /* Sötétebb zöld hover állapotban */
        border-color: rgb(4, 22, 11) !important; 
        transform: scale(0.95); /* Kisebb méret kattintás alatt */
    }


.hero .content {
        position: absolute;
        
         
      }

     
  .herotext {
    margin-left: 50%;
  }
  
.hero h1 {
        font-size: 4rem;
        font-weight: bold;
      }
  
.hero p {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
  
.hero .btn {
        font-size: 1.25rem;
      }
